[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
streamlit = "*"
nltk = "*"
txtai = "*"
Pillow = "*"
beautifulsoup4 = "*"
faiss-cpu = "*"
lxml = "*"

[requires]
python_version = "3.8.0"

