%%capture
!pip install streamlit
%%capture
import nltk
nltk.download('punkt')
%%capture
!pip install git+https://github.com/neuml/txtai
%%capture
!pip install txtai[pipeline]
%%capture
!pip install Pillow==9.0.0
